body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 16px helvetica;
    outline: none;
}
.roll-dice {
    height: 100%;
    width: 100%;
}
.grid-container {
    display: grid;
    width: 820px;
    height: 820px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.grid-container div {
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
}